/* ! Común */
:root {
    /* Colores */
    --negro: #000000;
    --grisOscuro: #717171;
    --grisMedio: #e6e6e6;
    --grisClaro: #f8faff;
    --rojo: #f85959;
    --blanco: #ffffff;
    --rosa: #fdd3d3;
    --verde: #8bc34a;
    --azulOscuro: #222831;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: fuenteNormal;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: fuentePequena;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: fuenteNegrita;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: fuenteGrande;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
.botonSanwich {
    display: none;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
/* ! Zona 1 - Header */
.navegacionPrincipal {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font: normal 0.8em fuenteNegrita;
    color: white;
    width: 100px;
}
.cabecera {
    width: 100%;
    background: url("../images/bg_3.jpg") no-repeat;
    background-size: 100%;
    background-position-y: -240px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 350px;
    align-items: start;
}
.menuHorizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.menuHorizontal__opcion {
    font: normal 0.7em fuentePequena;
    line-height: 2em;
}
.menuHorizontal__opcion--agregar {
    border: 1px solid white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: transparent;
}
.menuHorizontal__opcion--agregar:hover {
    background-color: var(--rojo);
    border-color: var(--rojo);
}
.menuHorizontal__enlace {
    color: white;
    padding: 0 20px;
}
/* ! Zona 2 - Fondo */
.zonaTitulo {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.titulo {
    font: normal 2em fuenteGrande;
    color: white;
}
/* ! Zona 3 - Lateral Izquierdo */
.lateralIzquierdo {
    width: 25%;
    padding: 0 5px;
}
.bloqueEncontrarCiudad {
    padding: 10px 10px;
    background-color: var(--grisClaro);
    color: var(--grisMedio);
    border: 1px solid var(--grisMedio);
}
.bloqueEncontrarCiudad__titulo {
    font: bold 0.8em fuenteNormal;
    text-align: center;
    padding-bottom: 10px;
    color: var(--grisOscuro);
    text-transform: uppercase;
}
.contenedorCajaSeleccion__cajaSeleccion {
    width: 100%;
    height: 30px;
    text-align: justify;
    font: normal 0.7em fuentePequena;
    margin-bottom: 10px;
    padding-left: 10px;
}
.selectorPrecio {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px auto 25px auto;
    background-color: var(--grisClaro);
}
.selectorPrecio__negativo1,
.selectorPrecio__negativo2 {
    color: var(--rojo);
}
.selectorPrecio__negativo1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.selectorPrecio__cantidadInferior {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.selectorPrecio__cursor1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}
.selectorPrecio__negativo2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.selectorPrecio__cantidadInferior,
.selectorPrecio__cantidadSuperior {
    background-color: var(--grisClaro);
    border: none;
    text-align: center;
    font: normal 0.7em fuenteNormal;
}
.selectorPrecio__cantidadSuperior {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.selectorPrecio__cursor2 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}
.selectorPrecio__cursor1,
.selectorPrecio__cursor2 {
    height: 0.2em;
    margin-bottom: 10px;
    appearance: none;
    background-color: var(--rojo);
}
.selectorPrecio__cursor1:hover,
.selectorPrecio__cursor2:hover {
    cursor: pointer;
}
.selectorPrecio__cursor1::-webkit-slider-thumb,
.selectorPrecio__cursor2::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--blanco);
    border: 1px solid var(--rojo);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: var(--rojo);
}
.contenedorCajaSeleccion__boton {
    background-color: var(--rojo);
    color: var(--blanco);
    border: none;
    font: normal 0.8em fuenteNormal;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
.contenedorCajaSeleccion__boton:hover {
    background-color: transparent;
    border: 1px solid var(--rojo);
    color: var(--rojo);
    cursor: pointer;
}
/* Bloque clasificación */
.bloqueValoracion {
    width: 100%;
    padding: 0 5px 10px;
    border: 1px solid var(--grisMedio);
    background-color: var(--grisClaro);
}
.bloqueValoracion__titulo {
    font: bold 0.8em fuenteNormal;
    text-transform: uppercase;
    padding: 15px 0;
}
.bloqueValoracion__fila {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding-bottom: 10px;
}
.bloqueValoracion__estrella {
    margin-left: 10px;
    color: var(--rojo);
    background-color: var(--blanco);
}
/* ! Zona 4 - Destinos */
.zonaVisualizacion {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}
.tarjetaLugar {
    width: 100%;
    font: normal 0.8em fuentePequeña;
    padding-bottom: 10px;
    border: 1px solid var(--grisMedio);
}
.tarjetaLugar__superior {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto auto auto auto;
}
.tarjetaLugar__imagen {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    width: 100%;
    height: 200px;
    /* Para mantener su relación de aspecto mientras se 
    llena el cuadro de contenido completo del elemento */
    object-fit: cover;
}
.tarjetaLugar__titulo,
.tarjetaLugar__precio,
.tarjetaLugar__estrellas,
.tarjetaLugar__descripcion,
.tarjetaLugar__dias,
.tarjetaLugar__destino,
.tarjetaLugar__boton,
.tarjetaLugar__valoraciones {
    padding: 0 10px;
}
.tarjetaLugar__titulo,
.tarjetaLugar__precio {
    font: normal 1em fuenteNegrita;
}
.tarjetaLugar__titulo {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.tarjetaLugar__enlace {
    color: var(--negro);
}
.tarjetaLugar__precio {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    color: #2f85cf;
    text-align: right;
}
.tarjetaLugar__estrellas {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    color: var(--rojo);
    background-color: var(--blanco);
    font-size: 0.7em;
}
.tarjetaLugarEstrella {
    padding-right: 5px;
}
.tarjetaLugar__categoria,
.tarjetaLugar__valoraciones,
.tarjetaLugar__destino,
.tarjetaLugar__descripcion {
    color: var(--grisOscuro);
}
.tarjetaLugar__dias {
    font: normal 0.8em fuenteNegrita;
}
.tarjetaLugar__linea {
    padding-bottom: 10px;
    margin: 0 5px;
    border-bottom: 1px solid var(--grisOscuro);
}
.tarjetaLugar__valoraciones {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
}
.tarjetaLugar__final {
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.tarjetaLugar__boton {
    background-color: var(--verde);
    padding: 3px 10px 5px;
    margin-right: 5px;
}
.tarjetaLugar__enlace {
    color: var(--blanco);
    font: normal 0.7em fuenteNormal;
}
.tarjetaLugar--primera {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.tarjetaLugar--segunda {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.tarjetaLugar--tercera {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
.tarjetaLugar--cuarta {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.tarjetaLugar--quinta {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.tarjetaLugar--sexta {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
.navegacionPaginas {
    margin: 0 auto;
}
.paginas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-start;
}
.paginas__elemento {
    width: 30px;
    height: 30px;
    border: 1px solid var(--rojo);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}
.paginas__elemento:hover {
    background-color: var(--rosa);
    border-color: transparent;
}
.paginas__enlaces {
    color: var(--rojo);
}
/* ! Zona 5 - Footer */
.piePagina {
    background-color: var(--azulOscuro);
}
.contenedorPie {
    margin: 0 auto;
    padding: 75px 0;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.columnaPie {
    width: 150px;
    text-align: left;
    color: var(--blanco);
    margin-bottom: 20px;
}
.columnaPie__titulo {
    font: normal 0.8em fuenteNormal;
    margin-bottom: 20px;
}
.columnaPie__texto {
    font: normal 0.6em fuentePequena;
    margin-bottom: 50px;
}
.redesSociales {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
.redesSociales__icono {
    background-color: rgba(192, 192, 192, 0.1);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.redesSociales__enlace {
    color: var(--blanco);
    font-size: 1em;
}
.columnaPie__elemento {
    padding-bottom: 10px;
}
.columnaPie__enlace,
.referencias__localizacion {
    font: normal 0.7em fuentePequeña;
    color: var(--blanco);
}
.referencias__enlaces {
    font-size: 0.9em;
    color: var(--blanco);
}
.referencias__elemento {
    padding-bottom: 10px;
}
.zonaCentral {
    width: 70%;
    min-width: 900px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
@media screen and (max-width: 900px) {
    .botonSanwich {
        display: block;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
}
