/* ! Común */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: fuenteNormal;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: fuentePequena;
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: fuenteNegrita;
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: fuenteGrande;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
.botonSanwich {
    display: none;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}
/* ! Zona 1 - Header */
.navegacionPrincipal {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font: normal 0.8em fuenteNegrita;
    color: white;
    width: 100px;
}
.cabecera {
    width: 100%;
    background: url("../images/bg_3.jpg") no-repeat;
    background-size: 100%;
    background-position-y: -240px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 350px;
    align-items: start;
}
.menuHorizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.menuHorizontal__opcion {
    font: normal 0.7em fuentePequena;
    line-height: 2em;
}
.menuHorizontal__opcion--agregar {
    border: 1px solid white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: transparent;
}
.menuHorizontal__opcion--agregar:hover {
    background-color: #f85959;
    border-color: #f85959;
}
.menuHorizontal__enlace {
    color: white;
    padding: 0 20px;
}
/* ! Zona 2 - Fondo */
.zonaTitulo {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.titulo {
    font: normal 2em fuenteGrande;
    color: white;
}
/* ! Zona 3 - Lateral Izquierdo */
.lateralIzquierdo {
    width: 25%;
    padding: 0 5px;
}
.bloqueEncontrarCiudad {
    padding: 10px 10px;
    background-color: #f8faff;
    color: #e6e6e6;
    border: 1px solid #e6e6e6;
}
.bloqueEncontrarCiudad__titulo {
    font: bold 0.8em fuenteNormal;
    text-align: center;
    padding-bottom: 10px;
    color: #717171;
    text-transform: uppercase;
}
.contenedorCajaSeleccion__cajaSeleccion {
    width: 100%;
    height: 30px;
    text-align: justify;
    font: normal 0.7em fuentePequena;
    margin-bottom: 10px;
    padding-left: 10px;
}
.selectorPrecio {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 25px auto 25px auto;
    background-color: #f8faff;
}
.selectorPrecio__negativo1,
.selectorPrecio__negativo2 {
    color: #f85959;
}
.selectorPrecio__negativo1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.selectorPrecio__cantidadInferior {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.selectorPrecio__cursor1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}
.selectorPrecio__negativo2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.selectorPrecio__cantidadInferior,
.selectorPrecio__cantidadSuperior {
    background-color: #f8faff;
    border: none;
    text-align: center;
    font: normal 0.7em fuenteNormal;
}
.selectorPrecio__cantidadSuperior {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}
.selectorPrecio__cursor2 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
}
.selectorPrecio__cursor1,
.selectorPrecio__cursor2 {
    height: 0.2em;
    margin-bottom: 10px;
    appearance: none;
    background-color: #f85959;
}
.selectorPrecio__cursor1:hover,
.selectorPrecio__cursor2:hover {
    cursor: pointer;
}
.selectorPrecio__cursor1::-webkit-slider-thumb,
.selectorPrecio__cursor2::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #f85959;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #f85959;
}
.contenedorCajaSeleccion__boton {
    background-color: #f85959;
    color: #ffffff;
    border: none;
    font: normal 0.8em fuenteNormal;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
.contenedorCajaSeleccion__boton:hover {
    background-color: transparent;
    border: 1px solid #f85959;
    color: #f85959;
    cursor: pointer;
}
/* Bloque clasificación */
.bloqueValoracion {
    width: 100%;
    padding: 0 5px 10px;
    border: 1px solid #e6e6e6;
    background-color: #f8faff;
}
.bloqueValoracion__titulo {
    font: bold 0.8em fuenteNormal;
    text-transform: uppercase;
    padding: 15px 0;
}
.bloqueValoracion__fila {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding-bottom: 10px;
}
.bloqueValoracion__estrella {
    margin-left: 10px;
    color: #f85959;
    background-color: #ffffff;
}
/* ! Zona 4 - Destinos */
/* ! Zona 5 - Footer */
.piePagina {
    background-color: #222831;
}
.contenedorPie {
    margin: 0 auto;
    padding: 75px 0;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.columnaPie {
    width: 150px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
}
.columnaPie__titulo {
    font: normal 0.8em fuenteNormal;
    margin-bottom: 20px;
}
.columnaPie__texto {
    font: normal 0.6em fuentePequena;
    margin-bottom: 50px;
}
.redesSociales {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
.redesSociales__icono {
    background-color: rgba(192, 192, 192, 0.1);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.redesSociales__enlace {
    color: #ffffff;
    font-size: 1em;
}
.columnaPie__elemento {
    padding-bottom: 10px;
}
.columnaPie__enlace,
.referencias__localizacion {
    font: normal 0.7em fuentePequeña;
    color: #ffffff;
}
.referencias__enlaces {
    font-size: 0.9em;
    color: #ffffff;
}
.referencias__elemento {
    padding-bottom: 10px;
}
.zonaCentral {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}
